<script src="{{ url_for('static', filename='includes/jquery/js/jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='includes/jquery/js/jquery.datatables.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='includes/datatables/css/dataTables.bootstrap.css') }}">
<script src="{{ url_for('static', filename='includes/datatables/js/dataTables.bootstrap.js') }}"></script>

<script src="{{ url_for('static', filename='includes/select2/select2.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='includes/select2/select2.min.css') }}">

<script src="{{ url_for('static', filename='includes/visjs/js/vis-network.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='includes/bootstrap-3.3.7/css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='includes/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/datatable.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='themes/default/default.css') }}">

<script src="/plugin/inga/includes/plotly-1.2.0.min.js"></script>

<html>
    <head>
        
    </head>
    <body class="theme-panelContainer">
        <div id="portPie" style="height: 540px; width: 540px; float:left"></div>
        <div id="ipToPorts" style="height: 540px; width: 800px; float:left"></div>
        <div id="ipBar" style="height: 540px; width: 540px; float:left"></div>

        <table id="orderTable" class="table table-sm theme-table" cellspacing="0" width="100%">
            <thead class="theme-tableHeader">
                <tr>
                    <th class="th-sm">lastScan</th>
                    <th class="th-sm">Scan Name</th>
                    <th class="th-sm">ip</th>
                    <th class="th-sm">up</th>
                    <th class="th-sm">ports</th>
                </tr>
            </thead>
            <tbody class="theme-tableBody">
                {% for result in scanResults %}
                    <tr>
                        <td>{{ result["lastScan"] }}</td>
                        <td>{{ result["scanName"] }}</td>
                        <td>{{ result["ip"] }}</td>
                        <td>{{ result["up"] }}</td>
                        <td>{{ result["ports"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>

<script>
    $(document).ready(function () {
        $('#orderTable').DataTable({
            "scrollY": "350px",
            "scrollCollapse": true,
            "paging": false,
            "searching": false,
            "info": false,
            "autoWidth": false,
            "stripeClasses" : [ 'theme-tableRowOdd', 'theme-tableRowEven' ],
            fixedHeader: {
                header: true,
                footer: true
            },
        });
        $('.dataTables_length').addClass('bs-select');
        $('.dataTables_filter input[type="search"]').css({'width':'200px'});
        $('.dataTables_filter input[type="search"]').addClass("theme-panelTextbox");
    });
</script>

<script>
    function GetURLParameter(sParam)
    {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) 
        {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) 
            {
                return sParameterName[1];
            }
        }
    }


    $.ajax({url: "/plugin/inga/scan/?scanName="+GetURLParameter("scanName")+"&ipToPorts=True", type:"GET", success: function ( result ) {
            network(result["results"],"ipToPorts")
        }
    });

    function network(data,HTMLElementID) {
        var network = null;
        var mapping = {};
        var nodes = [];
        var edges = [];
        var edgeMapping = {};
        var finalNodes = []
        for (d in data) {
            d = data[d];
            var b = null;
            var a = null;
            var color = "#4090c9";

            if (d[0] == $('#fromAsset').val() || d[1] == $('#fromAsset').val() ) {
                color = "#a61919";
            }

            if (!mapping.hasOwnProperty(d[0])) {
                id = nodes.length;
                nodes.push({ id: id, label: d[0], value: 1, color : color });
                mapping[d[0]] = { id :  id };
            } else {
                nodes[mapping[d[0]]["id"]]["value"] +=1;
            }
            a = mapping[d[0]]

            if (!mapping.hasOwnProperty(d[1])) {
                id = nodes.length;
                nodes.push({ id: id, label: d[1], value: 1, color : color });
                mapping[d[1]] = { id :  id };
            } else {
                nodes[mapping[d[1]]["id"]]["value"] +=1;
            }
            b = mapping[d[1]]


            if (a["id"] != b["id"]) {
                var key = a["id"]+"->"+b["id"];
                var key2 = b["id"]+"->"+a["id"];
                if ((!edgeMapping.hasOwnProperty(key)) && (!edgeMapping.hasOwnProperty(key2))) {
                    edgeMapping[key] = 1;
                    edgeMapping[key2] = 1;
                    edges.push({ 
                        from: a["id"], 
                        to: b["id"]
                    });
                }
            }
        }
        
        var container = document.getElementById(HTMLElementID);
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {
            nodes: {
                shape: "dot",
                scaling: {
                min: 1,
                max: 10,
                },
                font: {
                size: 12,
                face: "Tahoma",
                color: "#bfbfbf"
                },
            },
            edges: {
                width: 0.15,
                color: { inherit: "from" },
                smooth: {
                    type: "continuous",
                },
            }
        };
        network = new vis.Network(container, data, options);
    }
</script>

<script>
        function GetURLParameter(sParam)
    {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) 
        {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) 
            {
                return sParameterName[1];
            }
        }
    }


    $.ajax({url: "/plugin/inga/scan/?scanName="+GetURLParameter("scanName")+"&portCount=True", type:"GET", success: function ( result ) {
            pie(result["results"],"portPie")
        }
    });

    function pie(data,HTMLElementID) {
        values = []
        labels = []
        for (key in data) {
            values.push(data[key])
            labels.push(key)
        }
        var data = [{
            type: "pie",
            values: values,
            labels: labels,
            textinfo: "label",
            textposition: "outside",
            automargin: true
        }]

        var layout = {
            showlegend: false,
            plot_bgcolor: "#222222",
            paper_bgcolor: "#222222",
            font: {
                color : "#ddd"
            }
        }

        Plotly.newPlot(HTMLElementID, data, layout, {staticPlot: true})
    }
</script>

<script>
    function GetURLParameter(sParam)
    {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) 
        {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) 
            {
                return sParameterName[1];
            }
        }
    }


    $.ajax({url: "/plugin/inga/scan/?scanName="+GetURLParameter("scanName")+"&ipCount=True", type:"GET", success: function ( result ) {
            bar(result["results"],"ipBar")
        }
    });

    function bar(data,HTMLElementID) {
        values = []
        labels = []
        for (key in data) {
            values.push(data[key])
            labels.push(key)
        }
        var data = [{
            type: "bar",
            x: labels,
            y: values
        }]

        var layout = {
            plot_bgcolor: "#222222",
            paper_bgcolor: "#222222",
            font: {
                color : "#ddd"
            }
        }

        Plotly.newPlot(HTMLElementID, data, layout, {staticPlot: true})
    }
</script>