{% import "jimi.html" as jimi %}

<script>
    var CSRF="{{ CSRF }}";
</script>

<html>
    <head>
        <script src="{{ url_for('static', filename='includes/jquery-3.6.0/js/jquery-3.6.0.min.js') }}"></script>
        {{ jimi.theme() }}
    </head>
    <body class="overflow-auto">
        <div class="container-fluid">
            <div class="row g-0 m-1 justify-content-md-center">
                {% for img in result %}
                    <div class="col col-lg-3 m-1 panel">
                        <a href="{{ img["url"] }}"><img src="data:image/png;base64,{{ img["fileData"] }}" width="100%" title="{{ img["url"] }}" onmouseout="mouseout(this)" onmouseover="mouseover(this)"></img></a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <script>
            var timeout = null;
            function mouseover(x) {
                timeout = setTimeout(large, 1000, x);
            }
            function mouseout(x) {
                clearTimeout(timeout);
                $(x).parent().parent().addClass("col-lg-3");
                $(x).parent().parent().removeClass("col-lg-10");
            }
            function large(x) {
                $(x).parent().parent().removeClass("col-lg-3");
                $(x).parent().parent().addClass("col-lg-10");
            }
        </script>
    </body>
</html>