{% extends "ingabase.html" %}

{% block stylesheet %}


{% endblock %}

{% block headstylesheet %}
<style>
    body {
        background-color: white;
        /* background-color: #1f1f1f; */
    }

    div {
        text-align: center;
    }
    /* override parent table css */
    #portTable tbody tr,
    #portTable tbody tr:hover,
    #portTable tbody td {
    background-color:transparent;
    }
    

</style>




{% endblock %}


{% block content %}  
<div class="container-fluid">
    <!-- https://bbbootstrap.com/snippets/bordered-table-pagination-and-card-83072880 -->
    <!-- https://developers.google.com/chart/interactive/docs/gallery/sankey -->
    <div class="row justify-content-md-center">
        
        <div class="col-sm-4 mt-5">

                <div class="card shadow-lg rounded ">
                    <div class="card-header text-white bg-dark"> Screenshots </div>

                    <div class="card-body text-lg-center">                
                            
                    
                    </div> 
                </div> <!-- end of card-->
            </div> <!-- End of Column -->

            <div class="col-sm-3 mt-5">

                <div class="card shadow-lg rounded ">
                    <div class="card-header text-white bg-dark"> Network Graph </div>

                    <div class="card-body">
                        <div id="ipToPorts" style="height: 300px; "></div>

                      </div>
                </div> <!-- end of card-->
            </div> <!-- End of Column -->
        
            <div class="col-sm-4 mt-5">

                <div class="card shadow-lg rounded ">
                    <div class="card-header text-white bg-dark"> Ip Port Count </div>

                    <div class="card-body">
                        <canvas id="bar-chart" width="700" height="300"></canvas>
                      </div>
                </div> <!-- end of card-->
            </div> <!-- End of Column -->


    <div class="row justify-content-md-center">
        <div class="col-xl-11 mt-5 mb-2">

            <div class="card shadow-lg rounded ">

                    <div class="card-body text-center">
                        
                        <table id="scanTable" class="table table-bordered table-hover" cellspacing="1">
                            
                            <thead class="thead-dark">
                                <tr>
                                    <th class="th-sm">lastScan</th>
                                    <th class="th-sm">Scan Name</th>
                                    <th class="th-sm">ip</th>
                                    <th class="th-sm">up</th>
                                    <th class="th-sm">Scan Summary</th>
                                </tr>
                            </thead>
                            <tbody class="">
                                {% for result in scanData %}
                                    <tr>
                                        <td class="align-middle">{{ result["lastScan"] }}</td>
                                        <td class="align-middle">{{ result["scanName"] }}</td>
                                        <td class="align-middle">{{ result["ip"] }}</td>
                                        <td class="align-middle">{{ result["up"] }}</td>
                                        <td class="align-middle" style="width: 1400px;">        
                                            <!-- 
                                                cant figure out styling bug, if the following isnt place
                                                it requires style to be added -> style="width: 1400px;
                                                seems to override default column setting
                                                {{ result["portData"] }}
                                            -->
                                            <table id="portTable" class="table table-dark">
           
                                                {% for portresult in result["portData"] %}
                                                    <tr>
                                                        <td>{{ portresult["port"]}}</td>
                                                        <td>{{ portresult["service"]}}</td>
                                                        <td>{{ portresult["state"]}}</td>                                                
                                                    </tr>
                                                {% endfor %}
                                            </table>

                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div> 
                </div> 
            </div> <!-- end of card-->
        </div> <!-- End of Column -->
    </div> <!-- end of row-->



</div> <!-- end of container-->
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='includes/visjs/js/vis-network.min.js') }}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script src="{{ url_for('ingaPages.static', filename='js/networkGraph.js') }}"></script>

<script>   


</script>


<script>
    //Network Graph
    var networkChartPorts = {{ networkChartPorts | safe }}
    network(networkChartPorts,"ipToPorts")
    
    //BarChart
    var displayTitle        = false
    var chartTitle          = "Chart Title"
    var displayLegend       = false
    var legendText          = "Test"

    var barChartStyle       =  "bar"; //"horizontalBar"
    var ChartColours        = {{ barChartColours | safe }};
    
    var barChartData        = {{barChartData | tojson | safe}};
    var barChartLabels      = Object.keys(barChartData)
    var barChartValues      = Object.keys(barChartData).map(function (key) { return barChartData[key]; })
    // console.log(barChartValues);

</script>


<script src="{{ url_for('ingaPages.static', filename='js/ingaBarChart.js') }}"></script>
<script>
// Tables
$(document).ready(function() {
    $('#scanTable').DataTable({
        "autoWidth": true,
        "pageLength": 5,
        "lengthChange": false,
        "bFilter": true,
        "bInfo": false,
    });
} );
</script>

{% endblock %}
